.loading{
    background: url( 'images/loading.gif') #393E46 center center ;
    background-repeat:no-repeat;
    position:fixed;
    top:0;
    bottom:0;
    width:400px;
    height:200px;
    z-index:-100;
    left:50%;
}
.show{
    display:block;
}
.hidden{
    display:none;
}

.active {
  color: red;
}

.login{
  width:400px;
  margin-left: auto;
  margin-right: auto;
  background:red;
  margin-top: 100px;
}
.login-panel{
  padding:10px;
}
.login-panel-action{
  text-align: center;
}
